body{
  background-image: url("../images/bg.jpg");
}
#add{
  width: 100px;
  height: 50px;
  color: gold;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  position: absolute;
  left: 90%;
  top: 5%;
}
.container{
  width: 80vw;
  height: 100vh;
  color: grey;
  background-color: white;
  opacity: 0.9;
  align-items: center;
}

#title{
  font-weight: bold;
  color: gold;
}